body {
   animation: none;
}


.itemInfo, .itemDetails, .itemStars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
 }
.item, .itemStars, .itemFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
 }
 .itemInfo {
   height: 300px;
   justify-content: space-between;
 }
 .itemFooter {
   border-top: 2px solid black;
   justify-content: space-between;
 }
 .itemName, .itemFooter p {
   font-size: var(--textSizeLXX);
   font-weight: bold;
 }
 .itemPrice {
   font-size: var(--textSize);
 }
 .item img {
   margin: 0;
   width: 500px;
   height: 300px;
 }

.itemStars {
   color: var(--colorGray);
   padding-top: var(--spaceIn);
 }
 .itemStarMark {
   color: goldenrod;
 }
 .itemFooter button {
   background-color: var(--colorBlackish);
 }
 .itemDetails {
   justify-content: start;
   align-items: start;
 }

 .suggestions {
   width: 100%;
   padding: var(--spaceOut) 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.suggestionCards {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spaceIn);
 }
 .suggestionCard {
    width: 120px;
 }
 .suggestionCardImage {
    margin: 0;
    width: 120px;
    height: 120px;
 
 }
 .suggestionCardCatName {
    width: 120px;
    padding: 3px;
    font-size: var(--textSizeS);
 }
 .suggestionCardProdName {
    width: 120px;
    padding: 3px;
    padding-top: 0;
    font-size: var(--textSize);
    font-weight: bold;
 }
 .suggestionCardPrice {
    width: 120px;
    padding: 3px;
    font-size: var(--textSizeS);
 }
