main {
    justify-content: center;
    align-items: center;
}

form {
    background-color: var(--colorWhitish);
    flex-direction: column;
    gap: 0;
    height: auto;
 }
 label, input {
    padding: 0;
    margin: 0;
 }
 label {
    padding: 10px 0;
 }
 input {
    margin: 0;
    padding: 5px;
 }
 
 .cadastro {
    color: var(--colorBlackish);
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .cadastro a {
    color: var(--color4);
 }
 .leftImage {
    padding: 0;
    /* margin: 50px 50px 50px 0; */
 }
 
 
 .linha {
    height: 2px;
    width: 80%;
    margin-top: var(--spaceIn);
    background-color: var(--colorBlackish);
 }


 .formButton {
    background-color: var(--colorBlackish);
}