.banner a, .banner a img {
   margin: 0;
   width: 100%;
}

.products, .offers, .categories, .categoryCards {
   width: 100%;
   flex-direction: column;
   align-items: center;
   gap:0;
}

.products {
   width: 100%;
   justify-content: center;
   gap: 0;
   margin-bottom: var(--spaceIn);
}
.prodImages {
   width: 100%;
   display: flex;
   justify-content: center;
   gap:0;
}
.prodImagesLeft {
   display: flex;
   justify-content: start;
   gap:0;
}
.prodImagesRight {
   display: flex;
   flex-direction: column;
   justify-content: start;
   gap: 0;
}
.prodImage {
   margin: 0;
   width: 200px;
   height: 200px;
}
.prodImageIn  {
   margin: 0;
   padding: 0;
   width: 200px;
   height: 100px;
}

.categories {
   flex-direction: row;
   gap: 10px;
   margin-bottom: var(--spaceIn);
}
.categoriesList ul li {
   list-style: none;
   padding: var(--spaceMin) var(--spaceIn);
   
}
.categoryCards {
   padding-left: 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 10px;
   flex-wrap: wrap;
   border-left: 2px solid black;
}
.catCard {
   width: 120px;
}
.catCardImage {
   margin: 0;
   width: 120px;
   height: 120px;

}
.catCardCatName {
   width: 120px;
   padding: 3px;
   font-size: 8pt;
}
.catCardProdName {
   width: 120px;
   padding: 3px;
   font-size: 11pt;
}
.catCardPrice {
   width: 120px;
   padding: 3px;
   font-size: 8pt;
}

.offers {
   height: auto;
   margin-bottom: var(--spaceIn);
}
.offerCards{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: var(--spaceIn);   

   padding-bottom: var(--spaceIn);
   font-size: var(--textSize);
}
.offerCard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   padding: 30px;
   background-color: silver;
   height: 180px;
}
.offerCard img {
   width: 50px;
   height: 50px;
   border: none;
}
.offerCard p {
   font-weight: bold;
   text-align: center;
}

.offerCard:hover {
   animation: swing 1s;
}
.offerCard:hover {
  background-color: var(--color3);
}


